/*
    Project: Bready HTML
    Version: 1.1
    Date Created: 04/16/2016
    Date Updated: 06/25/2018
    Developed by: diaryforlife
    Website: http://minhnghia.info

*/

/*
    TABLE OF CONTENT
        1. RESET AND TYPHOGRAPHY
            1.1 Reset
            1.2 typhography
        2. ELEMENTS
            2.1 grid
            2.2 list
            2.3 button
            2.4 form
            2.5 post
            2.6 pagination
            2.7 breadcrumb
            2.8 loader
            2.9 block
            2.10 product
            2.11 slider
            2.12 banner
            2.13 widget
            2.14 table
            2.15 modal
        3. COMPONENTS
            3.1 search
            3.2 forms
            3.3 cart
            3.4 section
        4. MODULES
            4.1 header
            4.2 footer
        5. HELPERS

*/

@import "vendor/bourbon/bourbon";
@import "utils/mixin";
@import "vendor/masonry_grid";
@import "vendor/media_query";

@import "utils/variable";

/*1. RESET AND TYPHOGRAPHY */
// 1.1 Reset
@import "base/reset";
// 1.2 typhography
@import "base/typhography";

/*2. ELEMENTS */
// 2.1 grid
@import "elements/grid";
// 2.2 list
@import "elements/list";
// 2.3 button
@import "elements/button";
// 2.4 form
@import "elements/form";
// 2.5 post
@import "elements/post";
// 2.6 pagination
@import "elements/pagination";
// 2.7 breadcrumb
@import "elements/breadcrumb";
// 2.8 loader
@import "elements/loader";
// 2.9 block
@import "elements/block";
// 2.10 product
@import "elements/product";
// 2.11 slider
@import "elements/slider";
// 2.12 banner
@import "elements/banner";
// 2.13 widget
@import "elements/widget";
// 2.14 table
@import "elements/table";
// 2.15 modal
@import "elements/modal";

@import "themes/effect";


/*3. COMPONENTS */
// 3.1 search
@import "components/search";
// 3.2 forms
@import "components/forms";
// 3.3 cart
@import "components/cart";
// 3.4 section
@import "components/section";

/*4. MODULES */
// 4.1 header
@import "modules/header";
// 4.2 footer
@import "modules/footer";

/*5. HELPERS */
@import "elements/helpers";
