.ps-breadcrumb {
    margin-bottom: 5px;
    .breadcrumb {
        margin: 0;
        padding: 0;
        background-color: transparent;
        li {
            font-size: 14px;
            color: #000;
            font-weight: 400;
            &:before {
                font-family: FontAwesome;
                content: "\f105";
                color: #000;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
        }
        a {
            font-size: 16px;
            color: #000;
            &:hover {
                color: $color-1st;
            }
            i {
                margin-right: 5px;
            }
        }
    }

}