.ps-search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
    @include hidden;
    @include transition(all .4s ease);
    .ps-search__close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #fff;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 1px;
            z-index: 20;
            background-color: #000;
            @include transition(all .4s ease);
        }
        &:before {
            @include transform(translate(-50%, -50%) rotate(45deg));
        }
        &:after {
            @include transform(translate(-50%, -50%) rotate(-45deg));
        }
        &:hover {
            &:before, &:after {
                background-color: #E91E63;
            }
        }
    }
    button {
        height: 50px;
        display: block;
        position: relative;
        max-width: 100%;
        border: none;
        background-color: $color-1st;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        @include transition(all .4s ease);
        &:hover {
            background-color: #303030;
        }
    }
    &__content {
        position: relative;
        margin: 50px auto 0;
        padding: 100px 30px;
        max-width: 800px;
        z-index: 100;
        width: 100%;
        text-align: center;
        background-color: #fff;
        @include transition(all .4s ease);
        @include hidden;
        @include transform(scale(.5, .5));
        h3 {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 30px;
        }
        input {
            margin-bottom: 20px;
            height: 50px;
        }
    }
    &.open {
        z-index: 9999999;
        @include show;
        .ps-search__content {
            @include show;
            @include transform(scale(1, 1));
        }
    }
    @media (max-width: 800px) {
        padding: 0 30px;
        &__content {
            position: relative;
            padding: 30px 15px;
            h3 {
                font-size: 20px;
            }
        }
    }
}

